server {
    listen 80;
    server_name _;
    root /var/mybudget.io/web/;
    index index.php;

    location / {
        try_files $uri $uri/ /index.php?$args;
    }

    location ~* \.php$ {
        fastcgi_pass   unix:/var/run/php5-fpm.sock;
        include fastcgi_params;
        fastcgi_param APP_ENV dev;
    }
}